annotated-types==0.7.0
certifi==2025.7.14
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
coverage==7.9.2
diskcache==5.6.3
distlib==0.4.0
filelock==3.18.0
identify==2.6.12
idna==3.10
iniconfig==2.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
nodeenv==1.9.1
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
pre-commit==4.2.0
pydantic==2.11.7
pydantic-core==2.33.2
pygments==2.19.2
pytest==8.4.1
python-dotenv==1.1.1
pyyaml==6.0.2
requests==2.32.4
rich==14.0.0
ruff==0.12.4
typing-extensions==4.14.1
typing-inspection==0.4.1
urllib3==2.5.0
virtualenv==20.31.2
